*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#contenedor_general{
    position: relative;
}

#imagenfondo{
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -10;
}

/*HEADER*/

header{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    align-items: center;
    z-index: 5;
}

header h1{
    color: red;
    padding: 20px;
}

header input{
    position: absolute;
    top: 120%;
    left: 70%;
    height: 30px;
    width: 20%;
    background-color: black;
    color: white;
}

nav #menus{
    display: flex;
    gap: 10px;
}

#menus li{
    position: relative;
    list-style: none;
    transition: display;
}

#menus #submenus{
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease 100ms;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}


#menus a{
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    transition: color 200ms 50ms;

}

#menus>li:hover{
    border-bottom: 2px solid white;
}

#menus li:hover #submenus{
    visibility: visible;
    opacity: 1;
}

#menus a:hover{
    color: red;
}

/* MAIN */

#s_principal{
    display: flex;
    gap: 30px;
    width: 100%;
    padding: 300px 100px 50px 100px;
}

#s_principal article{
    position: relative;
    flex-basis: 33%;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.863);
}

#s_principal article img{
    width: 100%;
    height: 100%;
}

#s_principal article p{
    position: absolute;
    left: 8%;
    top: 6%;
    font-size: 4vw;
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

/* CATEGORIAS */

#categorias h2 a{
    text-decoration: none;
    color: red;
    padding: 20px;
}

#categorias section{
    padding: 10px 100px;
}

.productos{
    display: flex;
    gap: 30px;
    padding: 30px;
}

.productos figure{
    justify-items: center;
    flex-basis: 25%;
}

.productos figure img{
    width: 100%;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.527);
    border-radius: 5px;
    height: 300px;
}

.productos figure p{
    color: red;
    font-size: 25px;
}

.comprar{
    background-color: darkred;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    transition: backgroun-color 200ms ease 200ms;
}

.productos figure img:hover{
    box-shadow: 0 0 10px 4px rgba(139, 0, 0, 0.5);
}

.comprar:hover{
    background-color: red;
}


/* FOOTER */

footer{
    display: column;
    background-color: rgb(0, 0, 0);
    padding: 30px;
    color: white;

}

footer > ul{
    display: flex;
    gap: 30px;
    justify-content: center;
}

footer li{
    list-style: none;
}


footer .cajas{
    flex-basis: 25%;
    padding: 10px;
}

footer .cajas ul li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.589);
    font-size: 20px;
}

footer .cajas ul > *{
    padding: 10px;
}

footer div{
    display: block;
    justify-items: center;
}

footer .cajas ul li a:hover{
    color: white;
}


